@model IEnumerable<Spielzeugverleih.Models.Ausgeliehen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Spielzeug.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumBis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MieterID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Spielzeug.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumBis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MieterID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AusgeliehenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AusgeliehenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AusgeliehenID })
        </td>
    </tr>
}

</table>
