@model Spielzeugverleih.Models.Spielzeug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spielzeug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpielzeugTyp.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpielzeugTyp.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorhanden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorhanden)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpielzeugID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
